<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StoneStepsWebalizer.GD" version="2.1.0" targetFramework="native" />
  <package id="StoneStepsWebalizer.MaxMindDB" version="1.2.0" targetFramework="native" />
  <package id="StoneStepsWebalizer.OracleBerkeleyDB" version="6.0.20" targetFramework="native" />
  <package id="StoneStepsWebalizer.ZLib" version="1.2.8" targetFramework="native" />
</packages>