<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StoneStepsWebalizer.BerkeleyDB.DLL.VS2017.WinSDK.81.CRT.Dynamic" version="18.1.25-rev5" targetFramework="native" />
  <package id="StoneStepsWebalizer.GD.DLL.VS2017.WinSDK.81.CRT.Dynamic" version="2.1.0-rev5" targetFramework="native" />
</packages>